//
//  Configuration-real.xcconfig
//  SavePhoto
//
//  Created by 김종권 on 2021/11/02.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Configuration-real.xcconfig

// Bundle
X_BUNDLE_DISPLAY_NAME = SavePhoto
X_BUNDLE_ID = com.jake.SavePhoto

// Phase
X_DEPLOY_PHASE = real

// API
X_API_SERVER_URL = http:/$()/localhost:3000
